{% extends 'base.html.twig' %}

{% block title %}New Reparation{% endblock %}

{% block body %}
    <h1>Create new Reparation</h1>

    {{ include('reparation/_form.html.twig') }}

    <a href="{{ path('app_reparation_index') }}">back to list</a>
{% endblock %}
